mixin grid(cols, flex)
  - var tmpCols = cols
  .demo-row.row(class=flex ? 'f-row' : '')
    while cols--
      .col(class=`${flex ? 'f-col' : 'col'}--${16 / tmpCols}`) .#{flex ? 'f-col' : 'col'}--#{16 / tmpCols}

html
  head
    title My Grid
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/demo.css")

  body
    h1 My Grid
    .container
      .row
        .col
          h2 Basic Grid
      .row
        .col
          h3 16 Columns
      +grid(16)

      .row
        .col
          h3 8 Columns
      +grid(8)

      .row
        .col
          h3 4 Columns
      +grid(4)

      .row
        .col
          h3 2 Columns
      +grid(2)

      .row
        .col
          h3 1 Column
      +grid(1)

      .row
        .col
          h2 Responsive Grid
      .row
        .col
          h3 2 Columns - Both 100%, 50% on medium up
      .row.demo-row
        .col.col--16.col__md--8 .col--16.col__md--8
        .col.col--16.col__md--8 .col--16.col__md--8
      .row
        .col
          h3 3 Columns - All 100%, 50% on medium up, 25%@L
      .row.demo-row
        .col.col--16.col__md--8.col__lg--4 .col--16.col__lg--4
        .col.col--16.col__md--8.col__lg--4 .col--16.col__lg--4
        .col.col--16.col__md--8.col__lg--4 .col--16.col__lg--4
        .col.col--16.col__md--8.col__lg--4 .col--16.col__lg--4

      .f-row
        .f-col
          h2 Flex Box Grid
      .f-row
        .f-col
          h3 16 Columns
      +grid(16, true)

      .f-row
        .f-col
          h3 8 Columns
      +grid(8, true)

      .f-row
        .f-col
          h3 4 Columns
      +grid(4, true)

      .f-row
        .f-col
          h3 2 Columns
      +grid(2, true)

      .f-row
        .f-col
          h3 1 Column
      +grid(1, true)
